# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

stages:
- stage:
  displayName: 'Create artifact'
  jobs:
  - job:
    displayName: 'Build and publish'
    steps:
    - script: dotnet build --configuration $(buildConfiguration)
      displayName: 'dotnet build $(buildConfiguration)'
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'bin/Release/netcoreapp2.2'
        ArtifactName: 'drop'
        publishLocation: 'Container'
- stage:
  displayName: 'Deploy'
  jobs:
  - job:
    displayName: 'Deploy to app service'
    steps:
    - task: DownloadBuildArtifacts@0
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'drop'
        downloadPath: '$(System.ArtifactsDirectory)'
    - task: AzureRmWebAppDeployment@4
      inputs:
        ConnectionType: 'AzureRM'
        azureSubscription: 'Free Trial(9dee6ac1-3537-49c4-9e0c-0f8da691ff1e)'
        appType: 'webAppLinux'
        WebAppName: 'test-app'
        packageForLinux: '$(System.DefaultWorkingDirectory)/**/*.zip'
        RuntimeStack: 'DOTNETCORE|2.1'
        StartupCommand: '$(System.ArtifactsDirectory)/drop/pipelines-dotnet-core.dll'


